Screen {
    align: center middle;
    text-align: center;
    width: 100%;
}

Button {
    color: white;
    align: center middle;
    background: #3498db;
    width: 36%;
    height: 10%;
}

Container {
    align: center middle;
    text-align: center;
    margin: 2;
}

Input {
    width: 60%;
}

Label {
    padding: 2;
    height: 35%;
    width: 100%;
    outline: #e74c3c round;
}


